header {
    text-align: center;
}
.graph-buttons {
    text-align: center;
}
.graph-width, .chart-width {
    height: 20px;
    background-color: yellow;
    margin: 5px 10px 0px 40px;
    
}
.graphs, .charts {
    display: flex;
    flex-wrap: wrap;
    
}
.census, .total {
    margin: 5px 0px 0 5px;
    position: absolute;
    right: 13px;
    
}
.nation, .language {
    /* display: block; */
    width: 35px;
    margin-top: 5px;
}
.container {
    
}
.graph-title {
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .graph-width, .chart-width {
        position: absolute;
        left: 500px;
    }
    .nation, .language {

    }
    .container {
        width: 500px;
        margin: auto;
    }
    .census, .total {
        margin: 5px 0px 0 5px;
        position: absolute;
        right: 200px;
        
    }
}