.graph-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
}
.graph{
    width: 250px;
    background-color: yellow;
    color: yellow;
    margin: 0 20px 0 20px;
}
.grae {
    display: flex;
}
.graf {
    display: flex;
}
.graa {
    display: flex;
}
.gras {
    display: flex;
}
.grap {
    display: flex;
}
.grar {
    display: flex;
}
.grad {
    display: flex;
}
.grag {
    display: flex;
}
.grac {
    display: flex;
}
.gras {
    display: flex;
}
